<section id="reservation-form" class="mt50 clearfix">
  <div class="col-sm-12 col-md-4">
    <h2 class="lined-heading"><span>Reservation</span></h2>
    <div class="price">
     
    <div id="message"></div>
    <h3><i>Room <%#= @booking.hotel_room.name %> has been successfully booked by you from <%= @booking.check_in.to_date %> to <%= @booking.check_out.to_date %></i></h3>

    
  </div>
</section>